
/**=======================================================**
                        BUTTONS START
**=======================================================**/

.up-btn {
	margin-left: auto;
	left: 100%;
	@include circle;
	padding: length(14);
	@include flex-center;
	cursor: pointer;
}


/**=======================================================**
                        BUTTONS END
**=======================================================**/