
/**=======================================================**
                        BUTTONS START
**=======================================================**/

.up-btn {
	margin-left: auto;
	left: 100%;
	@include circle;
	padding: length(8);
	@include flex-center;
	cursor: pointer;
}

.btn-submit {
	@include setBgColor($primary, $white);
	@include font-face($primaryFont, style('normal'), size(14), weight('semibold'), line-height(24, 14));
	padding: length(12) length(40);
	@include radius(4);
	@include transitionsbackground;

	@include hover {
		@include setBgColor(darken($primary, 15%), $white);
	}
}

.btn-back {
	@include border(solid, 1, $primary);
	padding: length(5) length(16);
	@include radius(4);
	display: inline-block;
	text-align: center;
	@include font-face($primaryFont, style('normal'), size(12), weight('semibold'), line-height(24, 12));
	@include transitionsall;

	@include hover {
		@include setBgColor($primary, $white);
	}
}

/**=======================================================**
                        BUTTONS END
**=======================================================**/