table.dataTable {
  border-collapse: collapse !important;
  margin: 0;
}

.dataTable_wrapper {
  @include flex-column;
  gap: length(32);
}

.table {
  overflow-x: scroll;
  max-width: 99.5%;

  thead {
    background: $iconbg;
    vertical-align: middle;

    @include breakpoint(mobile) {
      display: none;
    }

    tr {
      @include border-single(top, solid, 1, $paginstionborder);
      @include border-single(bottom, solid, 1, $paginstionborder);

      th {
        color: $secondarytext;
        @include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(24, 16));
        text-align: center;
        @include border-single(left, solid, 1, $paginstionborder);
        padding: length(14) length(8);
        vertical-align: middle;

        &:first-of-type {
          @include breakpoint(tab992) {
            border-left: 0;
          }
        }

        .checkfield {
          @include square(length(18));
          margin-inline: auto;
        }

        &:first-child {
          // @include flex-center;
        }
      }
    }
  }
  
  tbody {
    vertical-align: middle;

    @include breakpoint(mobile) {
      @include border-single(top, solid, 1, $paginstionborder);
      @include border-single(right, solid, 1, $paginstionborder);
      overflow: hidden;
    }

    tr {
      @include border-single(bottom, solid, 1, $paginstionborder);

      @include breakpoint(mobile) {
        overflow: hidden;
      }

      td {
        color: $textprimary;
        @include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(19.6, 14));
        text-align: center;
        @include border-single(left, solid, 1, $paginstionborder);
        padding: length(8);
        vertical-align: middle;

        &:first-of-type {
          @include breakpoint(tab992) {
            border-left: 0;
          }
        }

        td:before  {
          content: attr(data);
        }

        .title, .text, .linktext {
          color: inherit;
          font: inherit;
        }

        .title {
          text-align: left;
          width: length(100);
        }

        .text {
          text-align: right;
          width: calc(100% - 6.25rem);

          @include breakpoint(tab992) {
            text-align: center;
            @include w100;
          }
        }

        .linktext {
          @include hover {
            color: $primary;
          }
        }

        .link {
          color: $primary;
          font: inherit;
          text-align: right;

          @include breakpoint(tab992) {
            text-align: center;
          }

          @include hover {
            color: $primary;
          }
        }
  
        .selectfield {
          color: $tertiarytext;
          @include border(solid, 1, $tertiarytext);
          @include radius(4);
          @include font-face($primaryFont, style('normal'), size(12), weight('normal'), line-height(16, 12));
          padding: length(8) length(16);
          background: $white url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 10L12 14L8 10' stroke='%23FCAF15' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center right 3%;
          appearance: none;
          cursor: pointer;
          @include transitionsall;

          option {
            color: $textprimary;
          }

          &:focus {
            border-color: $tertiarytext;
          }
        }

        .priceinfo,
        .pricequantity {
          @include flex-column;
          text-align: right;
          width: calc(100% - 6.25rem);

          @include breakpoint(tab992) {
            text-align: center;
            @include w100;
          }
        }

        .priceinfo {
          gap: length(12);

          .productname,
          .productprice {
            @include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(19.6, 14));
          }

          .productname {
            color: $textprimary;
          }

          .productprice {
            color: $textblue;
          }
        }

        .pricequantity {
          .price,
          .quantity {
            color: $black;
            @include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(19.6, 14));
          }
        }

        .checkfield {
          @include square(length(18));

          @include breakpoint(tab992) {
            margin-inline: auto;
          }
        }

        .variantname {
          color: $varianttext;
        }

        .categoryname {
          color: $categorytext;
        }

        .default {
          @include square(length(16));
          @include circle;
          @include flex-center;
          
          @include breakpoint(tab992) {
            margin-inline: auto;
          }
        }

        .imgbox {
          @include square(length(48));
          @include flex-center;
          overflow: hidden;
          
          @include breakpoint(tab992) {
            margin-inline: auto;
          }

          img {
            @include wh100;
          }
        }

        .title {
          display: none;

          @include breakpoint(mobile) {
            display: block;
            overflow: hidden;
          }
        }

        @include breakpoint(desktop) {
          &:first-of-type {
            width: length(48);
          }
        }

        @include breakpoint(mobile) {
          @include flex-center-between;
          @include border-single(bottom, solid, 1, $paginstionborder);

          &:first-of-type {
            width: length(48);
            width: 95%;
          }

          &:last-of-type {
            border-bottom: 0;
          }
        }
      }
    }
  }
}

div.dataTables_wrapper div.dataTables_info {
  position: absolute;
  color: $secondarytext;
  @include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(19.6, 14));
  
  @include breakpoint(tab992) {
    padding-top: length(35);
  }
}

div.dataTables_wrapper div.dataTables_paginate {
  @include flex-center;
  margin-top: length(55);

  @include breakpoint(tab992) {
    margin-top: length(30);
    @include flex-end;
  }

  .pagination {
    overflow: hidden;
    margin: 0 !important;
  
    .page-item {
      @include flex-center;
      overflow: hidden;
      @include square(length(40));

      &:not(:first-child) {
        .page-link {
          margin-left: 0;
        }
      }

      .page-link {
        @include square(length(40));
        border: 0;
        border-radius: 0;
        padding: length(0);
        @include setBgColor($white, $primary);
        @include border(solid, 1, $paginstionborder);
        border-right: 0;
        @include flex-center;
        @include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(20, 14));
        text-align: center;

        &:focus {
          box-shadow: none;
          outline: none;
        }
      }
  
      &:hover:not(.active):not(.disabled) {
        .page-link {
          @include setBgColor($primary, $white);
          border-color: $primary;
        }
      }
  
      &.active {
        .page-link {
          @include setBgColor($primary, $white);
          border-color: $primary;
        }
      }

      &.previous,
      &.next {
        .page-link {
          font-size: 0;
          color: transparent;
          position: relative;
          @include square(length(40));

          &::before {
            position: absolute;
            @include position-center;
          }
        }
      }

      &.previous {
        .page-link {
          @include double-radius(top, left, 4, bottom, left, 4);

          &::before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%234A66ED' class='bi bi-chevron-left' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
          }
          
          @include hover {
            &::before {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23ffffff' class='bi bi-chevron-left' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
            }
          }
        }
      }

      &.next {
        .page-link {
          @include double-radius(top, right, 4, bottom, right, 4);
          @include border-single(right, solid, 1, $paginstionborder);

          &::before {
            content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%234A66ED' class='bi bi-chevron-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
          }
          
          @include hover {
            &::before {
              content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23ffffff' class='bi bi-chevron-right' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
            }
          }
        }
      }
    }
  }
}