/**=======================================================**
                        PRODUCT-INFO START
**=======================================================**/

.productinfo {
  background: $white;
  padding: length(16) length(20) length(32);
  @include radius(4);
  @include flex-column;
  gap: length(16);

  &-header {
    @include flex-center-between;
    
    .breadcrumb {
      margin-bottom: 0;
      @include list-horizontal;
      gap: length(10);

      &-item {
        @include flex-center-vert;
        gap: length(4);

        .icon {
          @include square(length(18));
          @include flex-center;
          overflow: hidden;

          @include breakpoint(mobile768) {
            @include square(length(20));
          }

          svg {
            @include wh100;

            path {
              fill: $headingtext;
            }
          }
        }

        .text {
          color: $headingtext;
          @include font-face($primaryFont, style('normal'), size(12), weight('semibold'), line-height(16.8, 12));

          @include breakpoint(mobile768) {
            @include font-face($primaryFont, style('normal'), size(14), weight('semibold'), line-height(19.6, 14));
          }
        }

        &.active {
          .icon {
            svg {
              path {
                fill: $textprimary;
              }
            }
          }

          .text {
            color: $textprimary;
          }
        }

        &:hover:not(.active) {
          .breadcrumb-link {
            .icon {
              svg {
                path {
                  fill: $textprimary;
                }
              }
            }
  
            .text {
              color: $textprimary;
            }
          }
        }
      }

      &-link {
        @include flex-center-vert;
        gap: length(4);

        .icon {
          @include square(length(18));
          @include flex-center;
          overflow: hidden;

          @include breakpoint(mobile768) {
            @include square(length(20));
          }

          svg {
            @include wh100;

            path {
              fill: $headingtext;
            }
          }
        }

        .text {
          color: $headingtext;
          @include font-face($primaryFont, style('normal'), size(12), weight('semibold'), line-height(16.8, 12));

          @include breakpoint(mobile768) {
            @include font-face($primaryFont, style('normal'), size(14), weight('semibold'), line-height(19.6, 14));
          }
        }
      }

      .divider {
        height: length(16);
        width: length(2);
        @include flex-center;
        overflow: hidden;

        @include breakpoint(mobile768) {
          height: length(18);
        }

        svg {
          @include wh100;
        }
      }
    }

    .iconlist {
      @include list-horizontal;
      gap: length(16);

      &-link {
        @include transparent-button;
        @include square(length(24));
        @include flex-center;
        overflow: hidden;

        svg {
          @include wh100;
        }
      }
    }

    .orderlisthead {
      @include flex-center-vert;
      gap: length(32);
        
      @include breakpoint(mobile768) {
        gap: length(48);
      }

      &-title {
        color: $headingtext;
        @include font-face($primaryFont, style('normal'), size(16), weight('semibold'), line-height(24, 16));
        
        @include breakpoint(mobile768) {
          @include font-face($primaryFont, style('normal'), size(20), weight('semibold'), line-height(35, 20));
        }
      }

      .orderbuttons {
        @include flex-center-vert;
        gap: length(4);
        
        @include breakpoint(mobile768) {
          gap: length(16);
        }

        .btn-order {
          @include flex-center;
          gap: length(4);

          .icon {
            @include square(length(22));
            @include flex-center;
            overflow: hidden;

            svg {
              @include wh100;
            }
          }

          .text {
            display: none;
            color: $headingtext;
            @include font-face($primaryFont, style('normal'), size(14), weight('normal'), line-height(19.6, 14));
        
            @include breakpoint(mobile768) {
              display: inline-block;
            }
          }

          @include hover {
            .icon {
              svg {
                path {
                  fill: $primary;
                }
              }
            }

            .text {
              color: $primary;
            }
          }
        }
      }
    }
  }

  &-body {
    .productdescription {
      @include flex-column;
      gap: length(16);

      &-header {
        @include flex-center-vert;
        gap: length(16);

        .productdescription-title {
          color: $headingtext;
          @include font-face($primaryFont, style('normal'), size(20), weight('semibold'), line-height(35, 20));
        }

        .buttonlist {
          @include flex-center-vert;
          gap: length(10);

          .btn-cross,
          .btn-right {
            @include transparent-button;
            @include square(length(21));
            @include circle;
            @include flex-center;
            overflow: hidden;

            svg {
              @include wh100;
            }
          }
        }
      }

      .info {
        @include flex-column;
        gap: length(16);
        
        .inputbox {
          @include w100;
          @include flex-column;
          gap: length(8);
          position: relative;
  
          .inputlabel {
            color: $textdark;
            @include font-face($primaryFont, style('normal'), size(12), weight('normal'), line-height(16, 12));
  
            .required {
              color: $danger;
            }
          }
          
          .inputfield {
            color: $textprimary;
            @include border(solid, 1, $textlight);
            @include radius(4);
            padding: length(8) length(16);
            @include font-face($primaryFont, style('normal'), size(12), weight('normal'), line-height(16, 12));
            @include transitionsall;
  
            &::after {
              color: $textlight;
            }
  
            &:focus {
              border-color: $secondarytext;
            }
          }
  
          .selectfield {
            color: $textprimary;
            @include border(solid, 1, $textlight);
            @include radius(4);
            @include font-face($primaryFont, style('normal'), size(12), weight('normal'), line-height(16, 12));
            padding: length(8) length(16);
            background: $white url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16 10L12 14L8 10' stroke='%238A92A6' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A") no-repeat center right 3%;
            appearance: none;
            cursor: pointer;
            @include transitionsall;
  
            option {
              color: $textprimary;
            }
  
            &:focus {
              border-color: $secondarytext;
            }
          }
  
          .btn-remove {
            position: absolute;
            top: 72%;
            @include transform(translateY(-50%));
            right: length(40);
            @include transparent-button;
            z-index: 100;
          }
  
          .error-message {
            display: none;
            color: $danger;
            @include font-face($primaryFont, style('normal'), size(12), weight('medium'), line-height(16.8, 12));
          }
  
          &.errorfield {
            .inputfield,
            .selectfield {
              border-color: $danger;
            }
  
            .review {
              .radiolabel {
                &::before {
                  border-color: $danger;
                }
              }
            }
  
            .btn-remove {
              top: 50%;
            }
  
            .error-message {
              display: block;
            }
          }
        }

        .infoadd {
          @include flex-center-vert;
          gap: length(14);

          .inputbox {
            width: calc(100% - 5.5rem);
          }

          .addbox {
            width: length(88);
          }
        }
      }
    }

    .productdetail {
      @include flex-column;
      gap: length(16);

      .productimages {
        @include flex-column;
        gap: length(16);

        &-header {
          .productimages-title {
            color: $headingtext;
            @include font-face($primaryFont, style('normal'), size(20), weight('semibold'), line-height(35, 20));
          }
        }

        &-body {
          @include flex-column;
          gap: length(16);

          .warning {
            @include flex-center-vert;
            gap: length(8);

            .icon {
              @include square(length(24));
              @include flex-center;
              overflow: hidden;

              svg {
                @include wh100;
              }
            }

            .message {
              color: $textdark;
              @include font-face($primaryFont, style('normal'), size(12), weight('normal'), line-height(16, 12));
            }
          }

          .product-thumbnail {
            background: $productbg;
            @include radius(4);
            @include flex-center;
            overflow: hidden;
            padding: length(10);
            position: relative;
            // @include square(length(136));

            // @include breakpoint(mobile414) {
            //   @include square(length(160));
            // }

            // @include breakpoint(mobile576) {
            //   @include square(length(245));
            // }

            img {
              @include wh100;
              object-fit: cover;
            }

            .btn-delete {
              @include transparent-button;
              position: absolute;
              top: length(10);
              right: length(10);
              @include square(length(27));
              z-index: 100;

              svg {
                @include wh100;
              }
            }
          }
        }
      }

      .deliverycharge {
        @include flex-column;
        gap: length(16);

        &-header {
          .deliverycharge-title {
            color: $headingtext;
            @include font-face($primaryFont, style('normal'), size(20), weight('semibold'), line-height(35, 20));
          }
        }

        &-body {
          @include flex-center-vert;
          gap: length(16);
          flex-wrap: wrap;

          .delivery {
            @include flex-column;
            gap: length(8);
            max-width: calc(50% - 0.5rem);
            
            @include breakpoint(mobile576) {
              max-width: length(160);
            }

            &-body {
              @include flex-center-vert;
              @include border(solid, 1, $textlight);
              @include radius(4);
              overflow: hidden;
              @include transitionsall;

              .deliverylabel {
                padding: length(8);
                @include border-single(right, solid, 1, $textlight);
                color: $textdark;
                @include font-face($primaryFont, style('normal'), size(12), weight('normal'), line-height(16, 12));
                width: length(48);
                text-align: center;
              }

              .deliveryinput {
                padding: length(8);
                color: $textdark;
                @include font-face($primaryFont, style('normal'), size(12), weight('normal'), line-height(16, 12));
                width: calc(100% - 3rem);
              }

              &:focus-within {
                border-color: $secondarytext;
              }
            }
          }
        }
      }

      .seoinformation {
        @include flex-column;
        gap: length(16);

        &-header {
          .seoinformation-title {
            color: $headingtext;
            @include font-face($primaryFont, style('normal'), size(20), weight('semibold'), line-height(35, 20));
          }
        }

        &-body {
          @include flex-column;
          gap: length(16);
              
          .inputbox {
            @include w100;
            @include flex-column;
            gap: length(8);
            position: relative;
    
            .inputlabel {
              color: $textdark;
              @include font-face($primaryFont, style('normal'), size(12), weight('normal'), line-height(16, 12));
    
              .required {
                color: $danger;
              }
            }
            
            .inputfield {
              color: $textprimary;
              @include border(solid, 1, $textlight);
              @include radius(4);
              padding: length(8) length(16);
              @include font-face($primaryFont, style('normal'), size(12), weight('normal'), line-height(16, 12));
              @include transitionsall;
    
              &::after {
                color: $textlight;
              }
    
              &:focus {
                border-color: $secondarytext;
              }
            }
    
            .error-message {
              display: none;
              color: $danger;
              @include font-face($primaryFont, style('normal'), size(12), weight('medium'), line-height(16.8, 12));
            }
    
            &.errorfield {
              .inputfield {
                border-color: $danger;
              }
    
              .error-message {
                display: block;
              }
            }
          }
        }
      }

      .submitbox {
        @include flex-end;
      }
    }
  }
}


.upload {
  background: $productbg;
  @include radius(4);
  @include flex-center-column;
  gap: length(12);
  padding: length(10);
  @include border(dashed, 2, $productborder);
  @include h100;
  text-align: center;
  overflow: hidden;
  // @include square(length(136));

  // @include breakpoint(mobile414) {
  //   @include square(length(160));
  // }

  // @include breakpoint(mobile576) {
  //   height: length(245);
  // }

  .icon {
    @include square(length(44));
    @include flex-center;
    overflow: hidden;

    svg {
      @include wh100;
    }
  }

  .uploadinfo {
    .uploadlabel {
      color: $textdark;
      @include font-face($primaryFont, style('normal'), size(12), weight('normal'), line-height(16, 12));
      cursor: pointer;

      .text {
        color: $primary;
      }
    }
  }

  &.errorfield {
    border-color: $danger;
  }
}

.inputbox {
  .review {
    @include flex-center-vert;
    gap: length(20);
    height: length(33.98);
  
    .radiofield {
      &:checked ~ .radiolabel {
        &::before {
          border-color: $primary;
        }
  
        &::after {
          opacity: 1;
          visibility: visible;
          background: $primary;
        }
      }
    }
  
    .radiolabel {
      color: $textprimary;
      @include font-face($primaryFont, style('normal'), size(12), weight('normal'), line-height(16, 12));
      position: relative;
      padding-left: length(26);
      cursor: pointer;
  
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        @include transform(translateY(-50%));
        @include square(length(18));
        background: $white;
        @include border(solid, 1, $textlight);
        @include circle;
        @include transitionsall;
      }
  
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: length(4);
        @include transform(translateY(-50%));
        @include square(length(10));
        background: $white;
        @include circle;
        opacity: 0;
        visibility: hidden;
        @include transitionsall;
      }
    }
  }
    
  .error-message {
    display: none;
    color: $danger;
    @include font-face($primaryFont, style('normal'), size(12), weight('medium'), line-height(16.8, 12));
  }

  &.errorfield {
    .inputfield,
    .selectfield {
      border-color: $danger;
    }

    .review {
      .radiolabel {
        &::before {
          border-color: $danger;
        }
      }
    }

    .btn-remove {
      top: 50%;
    }

    .error-message {
      display: block;
    }
  }
}

/**=======================================================**
                        PRODUCT-INFO END
**=======================================================**/