/**=======================================================**
                    		MODAL START
**=======================================================**/

.modal {
	&-content {
		overflow: hidden;
		border: none;
	}

	&-header {
		border-bottom: length(0);
		// padding: length(32);

		// @include breakpoint(phone575) {
		//     padding: length(16);
		// }

		// .btn-close {
		//     @include transparent-button;
		//     @include square(length(24));
		//     @include flex-center;
		//     opacity: 1;
		//     overflow: hidden;
		//     margin-left: auto;
		//     padding: length(0);
		//     @include transitiontransform;

		//     &:focus {
		//         outline: none;
		//         box-shadow: none;
		//     }

		//     @include hover {
		//         @include transform(rotate(90deg));
		//     }
		// }
	}

	&-body {}
}

/**=======================================================**
                    		MODAL END
**=======================================================**/