/**=======================================================**
                    		MODAL START
**=======================================================**/

.modal {
	&-content {
		overflow: hidden;
		border: none;
	}

	&-header {
		border-bottom: length(0);
		// padding: length(32);

		// @include breakpoint(phone575) {
		//     padding: length(16);
		// }

		.modal-title {
			color: $headingtext;
			@include font-face($primaryFont, style('normal'), size(20), weight('semibold'), line-height(35, 20));
		}

		.btn-close {
			@include transparent-button;
			@include square(length(27));
			@include flex-center;
			opacity: 1;
			overflow: hidden;
			@include transitiontransform;

			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
	}

	&-body {}
}

/**=======================================================**
                    		MODAL END
**=======================================================**/