/**==================================================
                GOOGLE FONT CDN (INTER)
==================================================**/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700&display=swap');


/**==================================================
                FONTS INFO START
==================================================**/
$primaryFont: 'Roboto';
$secondaryFont: 'Inter';
$font-styles: ('normal': normal, 'italic': italic, 'oblique': oblique);
$font-weights: ('thin':100, 'extralight': 200, 'light': 300, 'normal': normal, 'medium': 500, 'semibold': 600, 'bold': 700, 'black': 900);

// SET FONT-FAMILY
@function family($font-family) {
	@return inspect($value: $font-family);
}

// SET FONT-STYLE
@function style($style) {
	@return map-get($font-styles, $style);
}

// SET FONT-STYLE
@function size($size) {
	@return (($size / $base) + rem);
}

// SET FONT-WEIGHT
@function weight($weight) {
	@return map-get($font-weights, $weight);
}

// SET LINE-HEIGHT
@function line-height($line-height, $size) {
	@return ($line-height / $size);
}

/**===============================================
                FONT STYLE MIXINS
===============================================**/

// FONT WITHOUT PATH
@mixin font-face($fontname, $fontstyle, $fontsize, $fontweight, $line-height) {
	font: {
		family: quote($fontname);
		style: $fontstyle;
		size: $fontsize;
		weight: $fontweight;
	}

	line-height: $line-height;
}

// @include font-face($primaryFont, style('normal'), size(18), weight('normal'), line-height(30, 18));