/**=====================================================**
                    THEME-COLORS
=======================================================**/
$primary: hsl(230, 82%, 61%); //#4A66ED
$primarydark: hsl(230, 79%, 57%); //#3A57E8

$itemhover: hsl(229, 78%, 95%); //#e7ebfc

/**=====================================================**
                    TEXT-COLORS
=======================================================**/
$textprimary: hsl(221, 31%, 20%); //#232D42
$secondarytext: hsl(223, 14%, 60%); //#8A92A6
$textlight: hsl(224, 13%, 84%); //#D0D3DB
$headingtext: hsl(224, 10%, 46%); //#6A7081
$danger: hsl(0, 96%, 67%); //#FC5A5A
$textdark: hsl(0, 0%, 20%); //#333333
$categorytext: hsl(34, 100%, 50%); //#FF9100
$varianttext: hsl(175, 98%, 24%); //#01796F
$tertiarytext: hsl(40, 97%, 54%); //#FCAF15
$textblue: hsl(205, 100%, 50%); //#0094FF

/**=====================================================**
                    BACKGROUND-COLORS
=======================================================**/
$iconbg: hsl(228, 33%, 97%); //#F5F6FA
$bodybg: hsl(210, 16%, 93%); //#E9ECEF
$inputbg: hsl(0, 0%, 97%); //#f7f7f7
$productbg: rgba(164, 180, 242, 0.1);

/**=====================================================**
                    BORDER-COLORS
=======================================================**/
$notificationborder: hsl(0, 0%, 93%); //#EEEEEE
$paginstionborder: hsl(210, 14%, 89%); //#DEE2E6
$productborder: hsl(228, 75%, 80%); //#A4B4F2

/**=====================================================**
                    NORMAL-COLORS
=======================================================**/
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

/**=====================================================**
                        SHADOWS
=======================================================**/
$shadow-1: rgb(138, 146, 166);

/**=====================================================**
                        BOX-SHADOWS
=======================================================**/
$dropdown-shadow: drop-shadow(-0.25rem .25rem .25rem rgba($shadow-1, 0.15));

/**=====================================================**
                        STATUS
=======================================================**/
$inactivebg: hsl(0, 100%, 90%); //#FFCCCC
$inactivecolor: hsl(0, 66%, 47%); //#C62828
$activebg: hsl(124, 100%, 90%); //#CCFFCF
$activecolor: hsl(146, 64%, 36%); //#219653

/**=====================================================**
                    TIMING-VARIABLES
=======================================================**/
$time: 250ms;