/**=====================================================
                OFFCANVAS START
=====================================================**/

.offcanvas-top {
	border-bottom: none;
}

.offcanvas-bottom {
	border-top: none;
}

.offcanvas-start {
	border-right: none;
}

.offcanvas-end {
	border-left: 0;
}

.offcanvas {
	@include w100;
	min-height: 110vh;
	z-index: 999999;

	@include breakpoint(mobile500) {
		width: length(300);
	}

	&-header {
		position: relative;

		.logo {
			@include flex-center;
			overflow: hidden;

			img {
				@include wh100;
				object-fit: contain;
			}
		}

		.btn-close {
			@include square(length(24));
			background: transparent;
			margin: 0;
			padding: 0;
			padding: length(8);
			@include flex-center;
			@include circle;
			opacity: 1;

			svg {
				@include wh100;

				path {
					fill: $primary;
				}
			}

			&:focus {
				box-shadow: none;
				outline: none;
			}
		}
	}

	&-body {
		overflow-x: hidden;
		padding-top: length(0);
		@include flex-column;
		padding: length(24);

		&::-webkit-scrollbar {
			background: transparent;
			width: length(8);
		}

		&::-webkit-scrollbar-thumb {
			@include radius(8);
		}

		.mobilemenu {
			@include flex-column;

			.menulink {
				padding: length(10) length(12);
				@include flex-center-vert;
				gap: length(8);
				position: relative;

				&::before {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: length(4);
					height: length(0);
					background: $primary;
					transition: all $time ease-in-out;
					@include double-radius(top, right, 4, bottom, right, 4);
				}

				.icon {
					@include square(length(24));
					@include flex-center;
					overflow: hidden;

					svg {
						@include wh100;

						path {
							fill: $secondarytext;
						}
					}
				}

				.text {
					color: $secondarytext;
					@include font-face($primaryFont, style('normal'), size(16), weight('normal'), line-height(28, 16));
				}

				&.active {
					&::before {
						@include h100;
					}

					.icon {
						svg {
							path {
								fill: $primary;
							}
						}
					}

					.text {
						color: $primary;
					}
				}

				&:hover:not(.active) {
					&::before {
						@include h100;
					}
					
					.icon {
						svg {
							path {
								fill: $primary;
							}
						}
					}

					.text {
						color: $primary;
					}
				}
			}
		}
	}

}

/**=====================================================
                OFFCANVAS END
=====================================================**/