.main {
  transition: 0.2s ease-in-out;
  
  @include breakpoint(tab992) {
    margin-left: length(260);
  }
  
  &.maincollapsed {
    transition: 0.2s ease-in-out;
  
    @include breakpoint(tab992) {
      margin-left: length(64);
    }
  }
}