/**=======================================================**
                        HEADER SECTION START
**=======================================================**/

.header {
	background: $white;
	@include w100;
	@include flex-center-vert;
	transition: top $time;
	padding: length(0) length(8);

	&.sticky-header {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
	}

	
}

/**=======================================================**
                        HEADER SECTION END
**=======================================================**/